.homepage {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-heading > div {
    font-size: 24px;
    font-weight: bold;
}

.section-heading select {
    padding: 5px;
    font-size: 16px;
}

.section-heading .btn-group {
    display: flex;
}

.section-heading .btn-group .btn {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    color: white;
    background-color: #007bff;
    cursor: pointer;
}

.section-heading .btn-group .btn:hover {
    background-color: #0056b3;
}

.section-heading .btn-group .btn.selected {
    background-color: #343a40;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-title {
    color: black;
}
