.search-form{
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.search-form .btn-light{
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    color: white;
    background-color: #007bff;
    cursor: pointer;
}

.search-form .btn-light:hover{
    background-color: #0056b3;
}

.search-form .btn-light.selected{
    background-color: #343a40;
}

.search-form input[type="text"]{
    padding: 5px;
    font-size: 16px;
}

.movie-search-pagination{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-search-pagination .page-link{
    color: black;
}

@media only screen and (min-width: 768px){
    .search-form{
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        justify-content: center;
    }
    .search-form > div{
        max-width: 800px;
    }
}

.homepage {
    background-color: #f0f0f0;
}
