.rating-ring_circle{
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s;
    stroke: #007bff; /* Change the color of the ring */
    stroke-width: 4; /* Change the thickness of the ring */
}
.rating-ring_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    width: 100px; /* Change the size of the ring */
    height: 100px; /* Change the size of the ring */
}
.rating-ring_wrapper > *{
    grid-area: 1 / 1 / 2 / 2 ;
}

.rating-ring_percent{
    color: rgba(var(--fg-color), 0.75);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; /* Change the size of the percentage text */
}
